project_name = "devops-portfolio"
environment  = "prod"
aws_region   = "us-east-1"

vpc_cidr           = "10.20.0.0/16"
az_count           = 2
enable_nat_gateway = true

db_name                = "devops_portfolio"
db_username            = "app_user"
db_instance_class      = "db.t4g.micro"
db_allocated_storage   = 20
db_deletion_protection = false
skip_final_snapshot    = true

backend_desired_count  = 1
frontend_desired_count = 1
backend_cpu            = 256
backend_memory         = 512
frontend_cpu           = 256
frontend_memory        = 512

# Optional GitHub Actions OIDC deployment role.
enable_github_oidc_role     = true
create_github_oidc_provider = true
github_owner                = "your-github-user-or-org"
github_repo                 = "your-repository"
